* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 998px) {
  body {
    padding-top: 10px;
  }
}

/* HEADER */

.header {
  display: grid; 
  border: 0;
  padding: 0;
  margin-left: 0;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO DO SITE */

.grid-container1 {
  display: grid;
  padding: 20px;
  grid-gap: 300px;
  grid-template-columns: auto auto;
  text-align: left;
}

/* Nome do site */

.item1 {
  padding: 0;
  margin-left: 50px;
  border: none;
}

/* Botões do menu */

.item2 {
  padding: 0;
  margin-left: 200px;
  margin-right: 50px;
  margin-bottom: 10px;
  border: none;
}

.btn-menu {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 1px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.btn-menu:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn-menu {
  border-color: #fff;
  color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn-menu:houver {
  background-position: 0;
}

/*LOGO*/

section {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  margin: 0;
}

.container img {
  margin-left: 0;
  margin-right: 0;
  width: 1515px;
  height: 700px;
}

/* CONTATO */

.grid-container2 {
  display: flex;
  padding: 50px;
  padding-top: 50px;
  padding-left: 50px;
  grid-gap: 200px;
  grid-template-columns: auto auto;
  text-align: left;
}

/* FOTO */

.item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formulário de contato */

.item4 {
  grid-area: auto;
}

.sub {
  text-align: justify;
  margin-top: 50px;
}

.end {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Botão enviar */

.btn {
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 2px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn {
  border-color: #fff;
  color: #fff;
  background-position: center;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn {
  background-position: center;
}

/* LETRAS */

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
  text-align: right;
  padding: 15px;
}

p {
  padding: 5px;
  font-size: 15px;
}

/* RODAPÉ*/

footer {
  text-align: center;
  margin-bottom: 50px;
}
