* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 10px;
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* HEADER */
  
  .header {
    display: grid; 
    border: 0;
    padding: 0;
    margin-left: 0;
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* CABEÇALHO DO SITE */
  
  .grid-container1 {
    display: grid;
    padding: 20px;
    grid-gap: 300px;
    grid-template-columns: auto auto;
    text-align: left;
  }
  
  /* Nome do site */
  
  .item1 {
    padding: 0;
    margin-left: 50px;
    border: none;
  }
  
  /* Botões do menu */
  
  .item2 {
    padding: 0;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
    border: none;
  }
  
  .btn-menu {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 1px;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .btn-menu:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    outline: 0;
  }
  
  .btn-menu {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  
  .btn-menu:houver {
    background-position: 0;
  }
  
  /*LOGO*/
  
  section {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .container img {
      margin-left: 0;
      margin-right: 0;
      width: 1515px;
      height: 500px;
    } 
    
  /* SERVIÇOS */
  
  .grid-container2{
    background-color: #fff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    text-align: justify;
  }
  
  /* FOTOS */
  
  .item3{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
  
  }
  
  .item4{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  /* DESCRIÇÃO */
  
  .item5{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  
  .yoga{
    margin-bottom: 20px;
  }
  
  .yoga1{
    margin-bottom: 20px;
  }
  
  .yoga2{
    margin-bottom: 20px;
  }
  
  .item6{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .pilates{
    margin-bottom: 20px;
  }
  
  .pilates1{
    margin-bottom: 20px;
  }
  
  .pilates2{
    margin-bottom: 20px;
  }
  
  /* FOTO */
  
  .item7{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  
  .item8{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  /* DESCRIÇÃO */
  
  .item9{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  
  .fit{
    margin-bottom: 20px;
  }
  
  .fit1{
    margin-bottom: 20px;
  }
  
  .fit2{
    margin-bottom: 20px;
  }
  
  .item10{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
  }
  
  .ps{
    margin-bottom: 20px;
  }
  
  .ps1{
    margin-bottom: 20px;
  }
  
  .ps2{
    margin-bottom: 20px;
  }
  
  /* Botão */
  
  .btn-contratar {
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 2px;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .btn-contratar:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    outline: 0;
  }
  
  .btn-contratar {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-position: center;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  
  .btn-contratar {
    background-position: center;
  }
  
  /* RODAPÉ*/
  
  .face{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .twitter{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  
  .whatsapp{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  
  .instagram{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .footer{
    margin-top: 100px;
    margin-bottom: 20px;
  }