* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 998px){
  body{
    padding-top: 10px;
  }
}

/* HEADER */

.header {
  display: flex;
  border: 0;
  padding: 0;
  margin-left: 50px;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container1{
display: grid;
padding: 20px;
grid-gap: 300px;
grid-template-columns: auto auto;
text-align: left;
}

/* NOME DO SITE */

.item1 {
  padding: 0;
  margin: 0;
  border: none;
}

/* BOTÕES DO SITE */

.item2 {
 padding: 0;
 margin-left: 200px;
 margin-right: 50px;
 margin-bottom: 10px;
 border: none;
}

.btn-menu {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 1px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.btn-menu:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn-menu {
  border-color: #fff;
  color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn-menu:houver {
  background-position: 0;
}

/*LOGO*/

section {
  padding: 0;
  border: 0;
  margin: 0;
}

.container img {
  margin-left: 0;
  margin-right: 0;
  width: 1515px;
  height: 700px;
}

/* TEXTO PRINCIPAL */

.personal {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.trainer1{
  margin-top: 50px;
}

.trainer2{
  margin-bottom: 50px;
}

/*SOBRE MIM*/

.grid-container2 {
  display: grid;
  padding: 50px;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  text-align: left;
  text-align: justify;
}

/* TITULO E SUBTITULO */

.item3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre-mim{
  margin-bottom: 20px;
}

.text{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* IMAGEM */

.item4 {
  grid-area: auto;
}

/*MEU TRABALHO*/

.trabalho {
  text-align: center;
  padding: 50px;
}

.grid-container3 {
  display: grid;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  text-align: left;
}

/* IMAGENS */

.item5 {
  grid-area: img img img;
}
.item6 {
  grid-area: img img img;
}
.item7 {
  grid-area: img img img;
}

/* TEXTO DAS IMAGENS */

.item8 {
  grid-area: Exercicios;
}
.item9 {
  grid-area: Treino;
}
.item10 {
  grid-area: Desenvolvimento;
}

.titulo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-titulo{
  margin-bottom: 10px;
}

/* TEXTO E BOTÃO */

.grid-container4 {
  display: block;
  padding: 0;
  margin-top: 150px;
  grid-gap: 100px;
  text-align: center;
}

.item11{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 150px;
}

/* BOTÕES DO CORPO */

.btn {
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 2px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn {
  border-color: #fff;
  color: #fff;
  background-position: center;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn {
  background-position: center;
}

/* LETRAS DO SITE */

h1 {
  font-size: 72px;
  text-align: center;
}

h2 {
  font-size: 40px;
  padding: 10px;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

p {
  padding: 5px;
  font-size: 15px;
}

/*FOOTER*/
.face{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.twitter{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatsapp{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.instagram{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

.footer{
  margin-top: 20px;
  margin-bottom: 20px;
}


