* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.nav {
  display: flex;
  border: 0;
  padding: 0;
  margin-left: 0;
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container1{
display: grid;
padding: 0;
grid-gap: 0;
grid-template-columns: auto auto;
text-align: left;
}

@media (min-width: 768px){
  .grid-container1{
    display: grid;
    padding: 20px;
    grid-gap: 100px;
    grid-template-columns: auto auto;
    text-align: left;
  }

  .item1{
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border: none;
  } 

  .item2{
    padding: 0;
    margin-left: 600px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
  }

  .cart{
    width: 50px;
    height: 50px;
  } 

  .login{
    width: 50px;
    height: 50px;
  } 

  btn {
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 20px;
    line-height: 2;
    margin: 2px;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .container img{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 1520px;
    height: 500px;
  } 

  section.personal{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  } 

  .item3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .sobre-mim{
    margin-bottom: 50px;
    margin-left: 0;
  } 

  .mim{
    margin-left: 0;
  } 
 
  .text{
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 25px;
    margin-right: 25px;
  } 

  .item4{
    grid-area: auto;
    margin-right: 50px;
    width: 630px ;
    height: 740px;
  } 

  .trabalho{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  } 

  img.item5{
    grid-area: auto;
    margin-left: 25px;
    margin-right: 25px;
    width: 460px;
    height: 340px;
   } 

   img.item6{
    grid-area: auto;
    margin-left: 0;
    margin-right: 25px;
    width: 460px;
    height: 340px;
   } 

   img.item7{
    grid-area: auto;
    margin-left: 0;
    margin-right: 25px;
    width: 460px;
    height: 340px;
   } 

   .item8{
    grid-area: auto;
    margin-left: 50px;
    margin-right: 25px;
    text-align: justify;
  } 

  .item9{
    grid-area: auto;
    margin-left: 0px;
    margin-right: 25px;
    text-align: justify;
  } 

  .item10{
    grid-area: auto;
    margin-left: 0px;
    margin-right: 50px;
    text-align: justify;
  } 

  .titulo{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 50px;
    text-align: left;
  } 

  .sub-titulo{
    margin-bottom: 15px;
    margin-right: 25px;
    font-size: 15px;
  }

  .grid-container4{
    display: flex;
    padding: 0;
    margin-top: 50px;
    grid-gap: 150px;
    text-align: center;
  }

  .item11{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .item12{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 640px;
    height: 320px;
  }

  .item13{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 640px;
    height: 320px;
  }

  .item14{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .yoga{
    margin-bottom: 25px;
  }

  .yoga1{
    margin-bottom: 20px;
  }

  .yoga2{
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .item15{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 50px;
  }

  .pilates{
    margin-bottom: 25px;
  }

  .pilates1{
    margin-bottom: 15px;
  }

  .pilates2{
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 50px;
  }

  .item16{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 640px;
    height: 420px;
  }

  .item17{
    margin-top: 50px;
    margin-left: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 640px;
    height: 420px;
  }

  .item18{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 25px;
  }

  .fit{
    margin-bottom: 25px;
  }

  .fit1{
    margin-bottom: 20px;
  }

  .fit2{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
  }

  .item19{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .ps{
    margin-bottom: 25px;
  }

  .ps1{
    margin-bottom: 20px;
  }

  .ps2{
    margin-left: 0;
    margin-right: 50px;
    margin-bottom: 15px;
  }

  h1{
    font-size: 72px;
    text-align: center;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 30px;
  }

  h5{
    font-size: 18px;
  }

  h6{
    font-size: 10px;
  }

  p{
    font-size: 15px;
  }

  .face{
    width: 50px;
    height: 50px;
  }

  .twitter{
    width: 50px;
    height: 50px;
  }

  .whatsapp{
    width: 50px;
    height: 50px;
  }

  .instagram{
    width: 50px;
    height: 50px;
  }

  footer{
    text-align: center;
    margin-bottom: 50px;
  }

  .footer{
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

/* NOME DO SITE */

.item1 {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

/* BOTÕES DO SITE */

.item2 {
 padding: 0;
 margin-left: 5px;
 margin-right: 0;
 margin-top: 15px;
 margin-bottom: 15px;
 border: none;
}

.cart{
  width: 20px;
  height: 20px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.login{
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}

.btn-menu {
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 7px;
  font-weight: 200;
  line-height: 1;
  margin: 0.5px;
  margin-left: 1px;
  padding: 0.5em 0.75em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.btn-menu:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn-menu {
  border-color: #fff;
  color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn-menu:houver {
  background-position: 0;
}

/*LOGO*/


.imagem {
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
}

.container img {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  width: 430px;
  height: 250px;
}

/* TEXTO PRINCIPAL */

.personal {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.trainer1{
  margin-top: 25px;
}

.trainer2{
  margin-bottom: 25px;
}

/*SOBRE MIM*/

.grid-container2 {
  display: grid;
  padding: 0;
  grid-template-columns: auto auto;
  grid-gap: 0;
  text-align: left;
  text-align: justify;
}

/* TITULO E SUBTITULO */

.item3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre-mim{
  margin-bottom: 15px;
  margin-left: 15px;
}

.mim{
  margin-left: 15px;
}

.text{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* IMAGEM */

.item4 {
  grid-area: auto;
  width: 230px;
  height: 300px;
}

/*MEU TRABALHO*/

.trabalho {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid-container3 {
  display: grid;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  grid-template-columns: auto auto auto;
  text-align: left;
}

/* IMAGENS */

img.item5 {
  grid-area: auto;
  margin-left: 15px;
  margin-right: 10px;
  width: 125px;
  height: 80px;
}

img.item6 {
  grid-area: auto;
  margin-left: 0;
  margin-right: 10px;
  width: 125px;
  height: 80px;
}

img.item7 {
  grid-area: auto;
  margin-left: 0;
  margin-right: 0;
  width: 125px;
  height: 80px;
}

/* TEXTO DAS IMAGENS */

.item8 {
  grid-area: auto;
  margin-left: 15px;
  margin-right: 10px;
  text-align: justify;
}

.item9 {
  grid-area: auto;
  margin-left: 0;
  margin-right: 10px;
  text-align: justify;
}

.item10 {
  grid-area: auto;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
}

.titulo{
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: left;
}

.sub-titulo{
  margin-bottom: 6px;
  margin-right: 8px;
  font-size: 8px;
}

/* TEXTO E BOTÃO */

.grid-container4 {
  display: flex;
  padding: 0;
  margin-top: 25px;
  grid-gap: 25px;
  text-align: center;
}

.item11{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
}

/* SERVIÇOS */

.grid-container5{
  background-color: #fff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  text-align: justify;
}

/* FOTOS */

.item12{
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 25px;
  width: 180px;
  height: 120px;
}

.item13{
  margin-top: 25px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  width: 180px;
  height: 120px;
}

/* DESCRIÇÃO */

.item14{
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.yoga{
  margin-bottom: 15px;
}

.yoga1{
  margin-bottom: 10px;
}

.yoga2{
  margin-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

.item15{
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.pilates{
  margin-bottom: 15px;
}

.pilates1{
  margin-bottom: 10px;
}

.pilates2{
  margin-bottom: 8px;
  margin-right: 15px;
}

/* FOTO */

.item16{
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 25px;
  width: 180px;
  height: 120px;
}

.item17{
  margin-top: 25px;
  margin-right: 5px;
  margin-bottom: 25px;
  width: 180px;
  height: 120px;
}

/* DESCRIÇÃO */

.item18{
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.fit{
  margin-bottom: 15px;
}

.fit1{
  margin-bottom: 10px;
}

.fit2{
  margin-bottom: 8px;
}

.item19{
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.ps{
  margin-bottom: 15px;
}

.ps1{
  margin-bottom: 10px;
}

.ps2{
  margin-bottom: 8px;
}

/* Botão contratar */

.btn-contratar {
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin: 2px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-contratar:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  outline: 0;
}

.btn-contratar {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-position: center;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn-contratar {
  background-position: center;
}



/* BOTÕES DO CORPO */

.btn-corpo {
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  margin: 2px;
  margin-left: 15px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-corpo:hover {
  background-color: #fff;
  color: #000000;
  outline: 0;
}

.btn-corpo {
  border-color: #fff;
  color: #fff;
  background-position: center;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn-corpo {
  background-position: center;
}

/* LETRAS DO SITE */

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  padding: 0;
}

h3 {
  font-size: 15px;
}

h5 {
  font-size: 9px;
}

h6 {
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

p {
  padding: 0;
  font-size: 10px;
}

/*FOOTER*/

.face{
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.twitter{
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatsapp{
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.instagram{
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-bottom: 25px;
}

.footer{
  margin-top: 10px;
  margin-bottom: 10px;
}


